{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="table__container">
        <h1>Event index</h1>

        <a class="table__button" href="{{ path('backoffice_event_new') }}">Create new</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>StartAt</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.startAt ? event.startAt|date('Y-m-d') : '' }}</td>
                    <td>{{ event.createdAt ? event.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d') : '' }}</td>
                    <td>
                        <a class="action-button" href="{{ path('backoffice_event_show', {'id': event.id}) }}">show</a>
                        <a class="action-button" href="{{ path('backoffice_event_edit', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
