{% extends 'base.html.twig' %}



{% block body %}

    <div class="event__position">
        <div class="event-detail__container event__background event__background--{{event.category.name}}">
            <div class="event-title event__title--{{event.category.name}}">
                <h1>{{event.name}}</h1>
            </div>
            <div class="background">
                <div class="event-info__container">
                    <div class="event-info__description">
                        <p>{{event.description}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, esse labore magnam expedita dolorum nihil voluptates inventore. Tenetur odio perferendis molestiae, voluptates ullam repudiandae officia fugit fuga culpa odit itaque!</p>
                    </div>
                    <div class="event-info__location">
                        <ul>
                            <li> {{event.category.name}}</li>
                            <li><i class="fas fa-map-marker-alt"></i> {{event.city.name}}, {{event.city.country.name}} </li>
                            <li><i class="fas fa-calendar-alt"></i> The {{ event.startAt | date('jS F Y, h A') }}</li>
                            <li><i class="fas fa-user"></i> Benjamin Gleitz</li>
                        </ul>
                    </div>
                </div>
                {% if app.user %}
                    <div class="particpate-button">
                        <button class="update-button"> Participate !</button>
                    </div>
                    {% else %}
                        <p class="noconnected-message">You must be logged in to register for the event</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}